<h1><%= t "devise.confirmation" %></h1>

<div class="col-md-6 col-md-offset-3">
  <%= form_for resource, as: resource_name, url: confirmation_path(resource_name),
    html: {method: :post} do |f| %>
    <%= render "shared/error_messages", object: resource %><br />
  
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true,
        value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
        class: "form-control" %>
    </div>
  
    <div class="actions">
      <%= f.submit t("devise.confirmation"), class: "btn btn-primary" %>
    </div>
  <% end %>
  
  <%= render "users/shared/links" %>
</div>
