<p><%= t "devise.mail_hello", resource: @resource.email %>!</p>
<p><%= t "devise.mail_reset_request" %></p>

<p><%= link_to t("devise.reset_password"),
  edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "devise.reset_description_1" %></p>
<p><%= t "devise.reset_description_2" %></p>
